<!DOCTYPE html>

<html>

<head>

{% load static %}

<link rel="stylesheet"
href="{% static 'style.css' %}">

<title>Login</title>

</head>

<body>

<div class="container">

<h1>Login</h1>

{% for message in messages %}

<p class="error">

{{message}}

</p>

{% endfor %}

<form method="POST">

{% csrf_token %}

<input
type="text"
name="username"
placeholder="Username"
required>

<input
type="password"
name="password"
placeholder="Password"
required>

<button>

Login

</button>

</form>

<a href="/register/">

Create Account

</a>

</div>

</body>

</html>